{{- $src := .Get "src" -}}
{{- if not (or (strings.HasPrefix $src "http://") (strings.HasPrefix $src "https://")) -}}
  {{- $src = partial "helpers/get-page-url.html" $src -}}
{{- end -}}
<img src="{{ $src }}"
    {{ if .Get "title"}}
        alt="{{.Get "title"}}"
    {{end}}
    {{ if .Get "width"}}
        width="{{.Get "width"}}"
    {{end}}
    {{ if .Get "height"}}
        height="{{.Get "height"}}"
    {{end}}
    {{ if .Get "float"}}
        style="float: {{.Get "float"}};"
    {{end}}
    {{ if .Get "align"}}
        class="{{.Get "align"}}"
    {{end}}
>
